- var css_path = 'assets/css/'
- var js_path = 'assets/js/'
- var img_path = 'assets/img/'

-
  var pages = {
    global: {
      url: '',
      name: '',
      title: ''
    },
    top: {
      url: '',
      name: '',
      title: ''
    }
  }