- var css_path = 'css/'
- var js_path = 'js/'
- var img_path = 'img/'

-
  var pages = {
    meta: {
      url: '',
      title: '',
      keyword: '',
      description: '',
      ogImage: '',
      ogType: ''
    }
  }
