- var css_path = 'css/'
- var js_path = 'js/'
- var img_path = 'img/'

-
  var pages = {
    global: {
      url: '',
      name: '',
      title: ''
    },
    top: {
      path: '',
      name: '',
      title: ''
    }
  }
